<div id="tag-cloud">
<h2><%= t('.tags') %></h2>
    <div id="tag-cloud-tags">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <a class="tag-link-<%= css_class %>" href="/tags/show/<%= tag.id %>"><%= tag.name %></a>
    <% end %>
    </div>
</div>