#page-content {
	width:	100%;
}

#tracking {
	width:	65%;
	display:	inline;
	float:		left;
}

#tracking.maximized {
	width:	100%;
}

#sidebar {
	width:	30%;
	display:	inline;
	float:		left;
}

#tag-cloud #tag-cloud-tags {
	text-align:	justify;
	border:	1px solid black;
	padding:	5px 10px 5px 10px;
}

.page-part {
	margin-top:		5px;
	margin-bottom:	5px;
	margin-left:	10px;
	margin-right:	10px;
}

.tag-link-css1 { font-size: 1.0em; }
.tag-link-css2 { font-size: 1.2em; }
.tag-link-css3 { font-size: 1.4em; }
.tag-link-css4 { font-size: 1.6em; }

#application_nav {
    float:  left;
}

#user_nav {
  float: right;
  font-size: 12px;
}

table.form td, table.form th {
	border:	none;
}

table.form tr.actions td {
	text-align:	center;
}

tr.in_ctt {
    background:  #b7ff93;
}

/* Today - Autocomplete */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:0px;
  height:15px;
  cursor:pointer;
}

