<h1>Listing datetimes</h1>
<table>
  <tr>
    <th>Acitivity</th>
    <th>Start</th>
    <th>Stop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datetimes.each do |datetime| %>
  <%= render datetime %>
<% end %>
</table>

<br />

<%= link_to 'New Datetime', new_datetime_path %>
